<%= notice %>
<div class="container text-center">
<hr>
<h4>Listing Students</h4>
  <hr>
  <button type="button" class="btn btn-success"><%= link_to "Add a new Student", new_student_path %></button>
<hr>
</div>
<div class="container">
  <table class="table" style="font-size: 20px;">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Gender</th>
      <th scope="col">View</th>
    </tr>
    </thead>
    <tbody>
    <% @students.each do |s| %>
    <tr>
      <th scope="row"><%= s.id %></th>
      <td><%= s.first_name %></td>
      <td><%= s.last_name %></td>
      <td><%= s.email %></td>
      <td><%= s.gender %></td>
      <td><%= link_to "View Student", s %></td>
    </tr>
      <% end %>
    </tbody>
  </table>

</div>