<h1>Students Detail</h1>
<p><strong>First Name:</strong><%= @student.first_name %></p>
<br>
<p><strong>Last Name:</strong><%= @student.last_name %></p>
<br>
<p><strong>Email:</strong><%= @student.email %></p>
<br>
<%= link_to "Back to Home", root_path %>
<br>
<%= link_to "Edit the Student", edit_student_path(@student) %>
<br>
<%= link_to "Delete the Student",  @student,method: :delete , data:{confirm:"Are you sure to delete student"} %>