<div class="container text-center" style="border: 3px solid black; border-radius: 10px; width: 300px; margin-top: 40px; padding-bottom: 30px; padding-top: 30px;">
<%= form_with model: @course do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div><br>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div><br>
  <div>
    <%= f.submit %>
  </div>
<% end %>
</div>