<!DOCTYPE html>
<html>
  <head>
    <title>StudentManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!--Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#" style="margin: 10px;">
      <%= image_tag("logo.png", alt: "rss feed", height: 100, width: 100) %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto text-white">
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: 'nav-link text-white' ,style: 'font-size:25px; margin:20px;' %>
         </li>
        <li class="nav-item active">
          <%= link_to "About", patient_path, class: 'nav-link text-white' ,style: 'font-size:25px; margin:20px;' %>
        </li>
        <li class="nav-item active">
          <%= link_to "Students", students_path, class: 'nav-link text-white' ,style: 'font-size:25px; margin:20px;' %>
        </li>
        <li class="nav-item active">
          <%= link_to "Courses", courses_path, class: 'nav-link text-white' ,style: 'font-size:25px; margin:20px;' %>
        </li>
        <li class="nav-item active">
          <%= link_to "A.Students", active_students_path, class: 'nav-link text-white' ,style: 'font-size:25px; margin:20px;' %>
        </li>

      </ul>
    </div>
    <% if teacher_signed_in? %>
      <h5 class="text-white" style="font-size:15px;">
        <%= current_teacher.email %>
      </h5>
      <%= link_to "Logout",destroy_teacher_session_path,method: :delete,  class: 'btn btn-danger text-white', style: 'margin:10px;' %>
      <%= link_to "Account Settings",edit_teacher_registration_path,   class: 'btn btn-danger text-white', style: 'margin:10px;' %>
    <% else %>
      <%= link_to "Login",new_teacher_session_path,  class: 'btn btn-success text-white', style: 'margin:10px;' %>
      <%= link_to "Signup",new_teacher_registration_path,  class: 'btn btn-outline-success text-white', style: 'margin:10px;' %>
    <% end %>
  </nav>
  <!-- flash messages -->
   <h2 class="notice text-center"><%= notice %></h2>
  <h2 class="alert text-center"><%= alert %></h2>
    <%= yield %>


  <footer id="sticky-footer" class="flex-shrink-0 py-4">
    <div class="container text-center">
      <small>Copyright &copy; Daniyal Malik 2022</small><br>
      <small>Designed by Daniyal Malik &copy; XproLabs</small>
    </div>
  </footer>
  </body>
  </body>
</html>
